.ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    li:not(:first-child){
        margin-left: 9px;
    }
    li{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #3F4E65;
        cursor: pointer;
    }
    .active{
        padding: 8.5px 14px;
        border-radius: 50%;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%)
    }
    .right{
        transform: rotate(180deg);
        margin-left: 35px;
    }
    .left{
        margin-right: 35px; 
    }
}

.none{
    display: none;
}